Django
setuptools
xlwt
CouchDB>=0.6.1
http://effbot.org/downloads/Imaging-1.1.7.tar.gz
# the following are optional actually Django requirements, but we include them here so any
# application using huDjango can benefit from them
Markdown
Textile
Docutils
python-memcached
